.well
  = form.input :title
  = form.locale_input

.well  
  = form.input :body, input_html: { 'data-add-editor': false, 'data-editor-syntax': :textile }

.well
  = form.input :link_to_more, as: :boolean

.well
  = form.input :published, as: :boolean

%h4= resource_class.human_attribute_name(:pictures)
#pictures
  = form.simple_fields_for(:pictures) do |picture|
    = render 'picture_fields', f: picture
  .well.well-xs.links
    = link_to_add_association form, :pictures, class: 'btn btn-default btn-xs'