.well
  = form.input :title
  = form.locale_input

.well  
  = form.input :body, input_html: { 'data-add-editor': true, 'data-editor-syntax': :textile }

.well
  = form.input :link_to_more, as: :boolean

.well
  = form.input :published, as: :boolean